In [1]:
import numpy as np
import pandas as pd

In [2]:
df_ratings = pd.read_csv('ml-100k/u.data',names=['user_id','movie_id','rating','timestamp'],sep='\t')

In [3]:
df_items = pd.read_csv('ml-100k/u.item',names=['movie_id','movie_title','release_date','video_release_date',\
                                               'IMDb_URL','unknown','Action','Adventure','Animation','Children\'s',\
                                               'Comedy','Crime','Documentary','Drama','Fantasy','Film-Noir','Horror',\
                                               'Musical','Mystery','Romance','Sci-Fi','Thriller','War',\
                                               'Western'],sep='|',encoding = "ISO-8859-1")

In [4]:
df_user = pd.read_csv('ml-100k/u.user',names=['user_id','age','gender','occupation','zip_code'],sep='|')

In [5]:
movie_ratings = pd.merge(df_ratings,df_items)
lens = pd.merge(movie_ratings,df_user)

In [6]:
lens['occupation'].unique()

array(['writer', 'marketing', 'student', 'other', 'administrator',
       'engineer', 'educator', 'homemaker', 'librarian', 'executive',
       'technician', 'retired', 'scientist', 'entertainment',
       'healthcare', 'programmer', 'artist', 'lawyer', 'none', 'salesman',
       'doctor'], dtype=object)

In [7]:
scientist_ratings = lens.query("occupation == 'scientist'")

In [8]:
top_scientist_ratings = scientist_ratings.groupby('movie_title').agg({'rating': [np.size, np.mean]})

In [9]:
top_5_percentile = np.percentile(top_scientist_ratings[('rating','size')],95.0)
top_scientist_ratings = top_scientist_ratings[top_scientist_ratings[('rating','size')]>top_5_percentile]
top_scientist_ratings.sort_values([('rating','mean')],ascending=False)

                                             rating
                                               size      mean
movie_title
Pulp Fiction (1994)                              13  4.461538
Usual Suspects, The (1995)                       11  4.363636
Silence of the Lambs, The (1991)                 13  4.307692
Godfather, The (1972)                            13  4.307692
Fargo (1996)                                     18  4.222222
L.A. Confidential (1997)                         11  4.181818
Chasing Amy (1997)                               12  4.166667
Star Wars (1977)                                 19  4.157895
Star Trek: First Contact (1996)                  10  4.100000
Terminator 2: Judgment Day (1991)                10  4.000000
Contact (1997)                                   17  3.941176
Raiders of the Lost Ark (1981)                   12  3.916667
Toy Story (1995)                                 11  3.818182
English Patient, The (1996)                      17  3.764706
Graduate, The (1967)                             10  3.700000
Back to the Future (1985)                        10  3.700000
Forrest Gump (1994)                              10  3.700000
Jerry Maguire (1996)                             12  3.666667
Titanic (1997)                                   11  3.636364
Return of the Jedi (1983)                        15  3.533333
Independence Day (ID4) (1996)                    12  3.500000
Scream (1996)                                    12  3.333333
Willy Wonka and the Chocolate Factory (1971)     12  3.333333
Conspiracy Theory (1997)                         11  3.272727
Rock, The (1996)                                 10  3.200000
Heat (1995)                                      10  3.200000
Leaving Las Vegas (1995)                         13  3.153846
Liar Liar (1997)                                 11  3.000000
Evita (1996)                                     10  3.000000
Air Force One (1997)                             11  2.909091